* {
    padding: 0;
    margin: 0;
}

nav {
    margin: 0 12px;
}

nav ul {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    font-size: 15px;
}

nav a {
    text-decoration: none;
    color:#335c92;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.hide {
    justify-content: center;
}

.hideOnMobile{
    border-radius: 40px;
    border: 2px solid #335c92;
    padding: 10px 15px;
}
.sidebar {
    background-color: #d8e4f4;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.logo {
    display: none;
    margin-right: auto; 
}

.menu {
    display: none;
    margin-left: auto;
    margin-right: 0;
}

@media (max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu {
        display: block;
    }
    .logo {
        display: flex;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
    .logo {
        display: flex;
    }
}

.main1 {
    border: 4px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main2 {
    border-radius: 1px;
    border: 5px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main2 h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  padding: 80px;
}

.main2 h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-size: 50px;
  text-align: center;
  padding-bottom: 80px;
  color: #335c92;
  max-width: 500px;
}

.main2 h3 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    text-align: center;
    max-width: 500px;
    padding-bottom: 40px;
}


.main3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8e4f4;
}

.main3 img {
    width: auto;
    margin-top: auto;
    bottom: 0;
}
.main4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8e4f4;
}
.main4 img {
    width: 90%;
    height: auto;
}

@media (max-width:750px) {
    .main1 {
        grid-template-columns: 1fr;
    }

    .main4 img {
        padding: 40px;
    }
}

@media (max-width: 450px) {
    .main3 img {
        width: 200px;
        height: auto;
    }
    .main2 h3 {
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
        width: auto;
    }

    .main2 h2 {
        font-size: 40px;
        width: auto;
    }
}

.second {
    background-color: #d8e4f4;
}

.bio1 h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    padding: 30px 90px;
}

.second1 {
    background-color: #d8e4f4;
    display: grid;
    grid-template-columns: 35% 65%;
}

.second2  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.second4 {
    background-color: #d8e4f4;
    display: grid;
    grid-template-columns: 35% 65%;
}

.second14 {
    background-color: #d8e4f4;
    display: grid;
    grid-template-columns: 1fr;
}

.second5  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second0 {
    background-color: #d8e4f4;
    display: grid;
    grid-template-columns: 1fr;
}

.img1 {
    padding: 80px;
}

.img1 img{
    height: 500px;
    width: auto;
}



.second3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.second3 h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    padding-bottom: 30px;
    max-width: 900px;
}

.second3 h3 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    padding-bottom: 40px;
    max-width: 900px;
}

@media (max-width:850px){
    .second4 {
        grid-template-columns: 1fr;
    }
}

@media (max-width:750px) {
    .img1 {
        padding: 20px;
    }
    .img1 img {
        width: 250px;
    }

    .img1 iframe {
        width: 200px;
        height: 100px;
    }

    .img12 iframe {
        width: 200px;
        height: 300px;
    }

    .bio1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bio1 h2 {
        font-size: 20px;
    }
    .second1 {
        grid-template-columns: 1fr;
    }

    .second3 h2 {
        font-size: 20px;
        max-width: 100%;
    }

    .second3 h3 {
        font-size: 15px;
        max-width: 100%;
    }
}

.work {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 0 12px 0 12px;
    padding: 40px;
}

.video2 {
    border: 2px solid #d8e4f4;
  border-radius:12px;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 20vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption2 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
  position: relative;
  z-index: 1;
  color:#1e1e1e;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.caption2 a {
    text-decoration: none;
    color: #335c92;
}

.text1 h2{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    padding: 30px 90px;
}

@media (max-width:800px) {
    .work {
        grid-template-columns: 1fr;
    }
    .text1 h2 {
        text-align: center;
    }
}

.footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8e4f4;
    gap: 10px;
}


.download {
    text-decoration: none;
    color: #335c92;
    border-radius: 40px;
    border: 2px solid #335c92;
    padding: 10px 15px;
}

.containerSkills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.skills1 {
    margin: 0 12px;
    padding-left: 40px;
    padding-bottom: 20px;
}

.text2 {
    margin: 0 12px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.text2 p {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    color: #335c92;
}

.skills1 ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.skills1 li {
    border-radius: 40px;
    border: 2px solid #335c92;
    padding: 10px 15px;
}

@media (max-width:800px){
    .containerSkills{
        grid-template-columns: 1fr 1fr;
    }
    .best1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .skills1 {
        margin: 0 12px;
        padding: 10px;
        padding-bottom: 20px;
    }
    .text2 {
        margin: 0 12px;
        padding: 10px;
        padding-bottom: 10px;
    }
}
@media (max-width:650px){
    .containerSkills{
        grid-template-columns: 1fr;
    }
}

.text3 h2{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    padding: 30px 90px;
    text-align: center;
}

.timeline {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    position: relative;
}
        
.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    height: calc(90% - 30px); 
    left: 50%;
    width: 2px;
    background: #3498db;
    transform: translateX(-50%);
}
        
.milestone {
    width: 100%;
    margin-bottom: 30px;
     position: relative;
}
        
.milestone:last-child {
    margin-bottom: 0; 
}
        
.milestone:nth-child(odd) .content {
    margin-right: 50%;
    padding-right: 30px;
    text-align: right;
}
        
.milestone:nth-child(even) .content {
    margin-left: 50%;
    padding-left: 30px;
    text-align: left;
}
        
.milestone::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #3498db;
    border-radius: 50%;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
    box-shadow: 0 0 0 2px #3498db;
}
        
.date {
    font-size: 14px;
    color: #7f8c8d;
    margin-bottom: 2px;
}
        
.title {
    font-size: 16px;
    font-weight: bold;
    color: #2c3e50;
}
        
@media (max-width: 600px) {
    .timeline::before {
        left: 20px;
         height: calc(100% - 30px);
    }
            
    .milestone:nth-child(odd) .content,
    .milestone:nth-child(even) .content {
        margin-left: 40px;
        margin-right: 0;
        padding-left: 30px;
        padding-right: 0;
        text-align: left;
    }
            
    .milestone::after {
        left: 20px;
    }
}

.hobby1 {
    padding: 10px;
}

.hobby1 h3 {
    padding: 5px;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    color: #335c92;
}

.hobby1 p {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    padding: 2px;
    color: #335c92;
}