* {
    padding: 0;
    margin: 0;
}

nav {
    margin: 0 12px;
}

nav ul {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    font-size: 15px;
}

nav a {
    text-decoration: none;
    color:#335c92;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.hide {
    justify-content: center;
}

.hideOnMobile{
    border-radius: 40px;
    border: 2px solid #335c92;
    padding: 10px 15px;
}
.sidebar {
    background-color: #d8e4f4;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.logo {
    display: none;
    margin-right: auto; 
}

.menu {
    display: none;
    margin-left: auto;
    margin-right: 0;
}

@media (max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu {
        display: block;
    }
    .logo {
        display: flex;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
    .logo {
        display: flex;
    }
}

.main1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main2 h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  padding: 80px;
}

.main2 h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-size: 50px;
  text-align: center;
  padding-bottom: 80px;
  color: #335c92;
  max-width: 500px;
}

.main2 h3 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    text-align: center;
    max-width: 500px;
    padding-bottom: 40px;
}


.main3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8e4f4;
}

.main3 img {
    width: auto;
    margin-top: auto;
    bottom: 0;
}

@media (max-width:750px) {
    .main1 {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    .main3 img {
        width: 200px;
        height: auto;
    }
    .main2 h3 {
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
        width: auto;
    }

    .main2 h2 {
        font-size: 40px;
        width: auto;
    }
}

.second {
    background-color: #d8e4f4;
}

.bio1 h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    padding: 30px 90px;
}

.second1 {
    background-color: #d8e4f4;
    display: grid;
    grid-template-columns: 35% 65%;
}

.second2  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    padding: 80px;
}

.img1 img{
    height: 500px;
    width: auto;
}

.second3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.second3 h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    padding-bottom: 30px;
    max-width: 900px;
}

.second3 h3 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    padding-bottom: 40px;
    max-width: 900px;
}

@media (max-width:750px) {
    .img1 {
        padding: 20px;
    }
    .img1 img {
        width: 250px;
        
    }
    .bio1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bio1 h2 {
        font-size: 20px;
    }
    .second1 {
        grid-template-columns: 1fr;
    }

    .second3 h2 {
        font-size: 20px;
        max-width: 100%;
    }

    .second3 h3 {
        font-size: 15px;
        max-width: 100%;
    }
}